In [6]:
import numpy as np
import pandas as pd
import matplotlib as plt
import statsmodels.api as sm

In [2]:
#(a) read the data
Accord=pd.read_csv('Accord-242A-Spring24.csv')
Accord.info
Accord.head(12)

,MonthNumeric,MonthFactor,Year,AccordSales,Unemployment,AccordQueries,CPIAll,CPIEnergy,MilesTraveled
0,1,January,2014,20604,6.6,69,235.288,250.340,246531
1,2,February,2014,24622,6.7,74,235.547,249.925,249499
2,3,March,2014,33962,6.7,79,236.028,249.961,251120
3,4,April,2014,34124,6.2,74,236.468,249.864,251959
4,5,May,2014,39637,6.3,75,236.918,249.213,252289
5,6,June,2014,32329,6.1,76,237.231,249.714,252054
6,7,July,2014,35073,6.2,81,237.498,248.744,252111
7,8,August,2014,51075,6.1,80,237.460,245.699,252472
8,9,September,2014,32956,5.9,75,237.477,241.610,253485
9,10,October,2014,27189,5.7,70,237.430,237.061,254117
10,11,November,2014,25275,5.8,69,236.983,229.016,253099
11,12,December,2014,31589,5.6,63,236.252,218.536,255291

In [3]:
#split the data
Accord_train=Accord[(Accord['Year']>=2014) & (Accord['Year']<=2018)]
Accord_test=Accord[(Accord['Year']>=2019) & (Accord['Year']<=2023)]

Accord_train.info()

Accord_train

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MonthNumeric   60 non-null     int64
 1   MonthFactor    60 non-null     object
 2   Year           60 non-null     int64
 3   AccordSales    60 non-null     int64
 4   Unemployment   60 non-null     float64
 5   AccordQueries  60 non-null     int64
 6   CPIAll         60 non-null     float64
 7   CPIEnergy      60 non-null     float64
 8   MilesTraveled  60 non-null     int64
dtypes: float64(3), int64(5), object(1)
memory usage: 4.7+ KB

,MonthNumeric,MonthFactor,Year,AccordSales,Unemployment,AccordQueries,CPIAll,CPIEnergy,MilesTraveled
0,1,January,2014,20604,6.6,69,235.288,250.340,246531
1,2,February,2014,24622,6.7,74,235.547,249.925,249499
2,3,March,2014,33962,6.7,79,236.028,249.961,251120
3,4,April,2014,34124,6.2,74,236.468,249.864,251959
4,5,May,2014,39637,6.3,75,236.918,249.213,252289
5,6,June,2014,32329,6.1,76,237.231,249.714,252054
6,7,July,2014,35073,6.2,81,237.498,248.744,252111
7,8,August,2014,51075,6.1,80,237.460,245.699,252472
8,9,September,2014,32956,5.9,75,237.477,241.610,253485
9,10,October,2014,27189,5.7,70,237.430,237.061,254117
10,11,November,2014,25275,5.8,69,236.983,229.016,253099
11,12,December,2014,31589,5.6,63,236.252,218.536,255291
12,1,January,2015,21011,5.7,67,234.747,199.926,254967
13,2,February,2015,21616,5.5,69,235.342,203.021,254414
14,3,March,2015,26018,5.4,76,235.976,205.757,255735
15,4,April,2015,27251,5.4,74,236.222,203.577,257796
16,5,May,2015,32373,5.6,78,237.001,208.973,257531
17,6,June,2015,27477,5.3,79,237.657,212.015,258177
18,7,July,2015,34496,5.2,91,238.034,211.623,258012
19,8,August,2015,40931,5.1,85,238.033,208.579,259020
20,9,September,2015,33641,5.0,75,237.498,197.246,258671
21,10,October,2015,30121,5.0,77,237.733,195.616,257672
22,11,November,2015,25566,5.1,76,238.017,195.114,260006
23,12,December,2015,35056,5.0,72,237.761,190.143,261788
24,1,January,2016,20765,4.8,80,237.652,185.235,262611
25,2,February,2016,25785,4.9,85,237.336,176.401,261752
26,3,March,2016,30523,5.0,84,238.080,182.234,262392
27,4,April,2016,31526,5.1,82,238.992,186.713,264735
28,5,May,2016,31949,4.8,87,239.557,188.596,264565
29,6,June,2016,28806,4.9,87,240.222,192.899,264364
30,7,July,2016,31946,4.8,90,240.101,189.046,265645
31,8,August,2016,30115,4.9,86,240.545,188.772,264145
32,9,September,2016,27204,5.0,81,241.176,192.243,263573
33,10,October,2016,25551,4.9,79,241.741,195.979,266664
34,11,November,2016,27182,4.7,73,242.026,196.372,265314
35,12,December,2016,33783,4.7,75,242.637,199.513,267135
36,1,January,2017,19536,4.7,84,243.618,205.369,266509
37,2,February,2017,23455,4.6,83,244.006,204.133,265234
38,3,March,2017,26824,4.4,87,243.892,202.528,265123
39,4,April,2017,26938,4.5,81,244.193,202.954,270670
40,5,May,2017,33547,4.4,86,244.004,198.449,266153
41,6,June,2017,29791,4.3,94,244.163,197.808,266376
42,7,July,2017,30903,4.3,100,244.243,195.994,269548
43,8,August,2017,30019,4.4,93,245.183,201.450,267211
44,9,September,2017,29789,4.2,80,246.435,212.723,266506
45,10,October,2017,26740,4.1,89,246.626,208.328,268718
46,11,November,2017,22998,4.2,86,247.284,213.047,268212
47,12,December,2017,22115,4.1,90,247.805,213.574,272319
48,1,January,2018,17677,4.0,89,248.859,216.855,268361
49,2,February,2018,19753,4.1,94,249.529,220.141,267857
50,3,March,2018,24171,4.0,93,249.577,215.720,268556
51,4,April,2018,21751,4.0,90,250.227,219.165,273320
52,5,May,2018,28212,3.8,94,250.792,221.045,267556
53,6,June,2018,26726,4.0,92,251.018,220.947,269325
54,7,July,2018,24927,3.8,98,251.214,219.929,270452
55,8,August,2018,26725,3.8,95,251.663,222.781,267900
56,9,September,2018,25357,3.7,86,252.182,223.955,269877
57,10,October,2018,23778,3.8,84,252.772,226.022,270155
58,11,November,2018,23367,3.8,77,252.594,218.500,269052
59,12,December,2018,28627,3.9,81,252.767,213.630,277525

In [4]:
import statsmodels.formula.api as smf
ols = smf.ols(formula='AccordSales ~ Unemployment + AccordQueries + CPIEnergy + CPIAll + MilesTraveled',
                 data=Accord_train)
model1 =ols.fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.185
Method:                 Least Squares   F-statistic:                     3.683
Date:                Mon, 12 Feb 2024   Prob (F-statistic):            0.00612
Time:                        16:56:12   Log-Likelihood:                -595.60
No. Observations:                  60   AIC:                             1203.
Df Residuals:                      54   BIC:                             1216.
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      1.735e+05   1.49e+05      1.164      0.249   -1.25e+05    4.72e+05
Unemployment  -1833.6589   4680.041     -0.392      0.697   -1.12e+04    7549.259
AccordQueries   225.2323    113.727      1.980      0.053      -2.776     453.240
CPIEnergy       192.5350    120.986      1.591      0.117     -50.028     435.098
CPIAll        -1443.0327    807.855     -1.786      0.080   -3062.685     176.620
MilesTraveled     0.5860      0.417      1.406      0.165      -0.249       1.421
==============================================================================
Omnibus:                        7.924   Durbin-Watson:                   1.479
Prob(Omnibus):                  0.019   Jarque-Bera (JB):                8.969
Skew:                           0.534   Prob(JB):                       0.0113
Kurtosis:                       4.565   Cond. No.                     5.81e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.81e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
#model is not good, calculate VIF now
from statsmodels.stats.outliers_influence import variance_inflation_factor
def VIF(df, columns):
    values = sm.add_constant(df[columns]).values
    num_columns = len(columns)+1
    vif = [variance_inflation_factor(values, i) for i in range(num_columns)]
    return pd.Series(vif[1:], index=columns)
cols=[ 'Unemployment','AccordQueries', 'CPIEnergy', 'CPIAll','MilesTraveled']
VIF(Accord_train,cols)

Unemployment     31.683094
AccordQueries     1.939028
CPIEnergy        12.340357
CPIAll           45.304922
MilesTraveled    18.510210
dtype: float64

In [8]:
#remove CPIALL because of its high VIF
model2 = smf.ols(formula='AccordSales ~ Unemployment + AccordQueries + CPIEnergy + MilesTraveled',
                 data=Accord_train).fit()
print(model2.summary())
cols=[ 'Unemployment','AccordQueries', 'CPIEnergy','MilesTraveled']
VIF(Accord_train,cols)

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.210
Model:                            OLS   Adj. R-squared:                  0.153
Method:                 Least Squares   F-statistic:                     3.660
Date:                Mon, 12 Feb 2024   Prob (F-statistic):             0.0103
Time:                        16:57:22   Log-Likelihood:                -597.33
No. Observations:                  60   AIC:                             1205.
Df Residuals:                      55   BIC:                             1215.
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept     -3.448e+04   9.49e+04     -0.363      0.718   -2.25e+05    1.56e+05
Unemployment   5108.1367   2659.097      1.921      0.060    -220.813    1.04e+04
AccordQueries   226.0779    115.968      1.949      0.056      -6.328     458.484
CPIEnergy       -11.7599     40.237     -0.292      0.771     -92.397      68.878
MilesTraveled     0.0828      0.313      0.265      0.792      -0.545       0.710
==============================================================================
Omnibus:                        8.464   Durbin-Watson:                   1.355
Prob(Omnibus):                  0.015   Jarque-Bera (JB):               10.381
Skew:                           0.529   Prob(JB):                      0.00557
Kurtosis:                       4.741   Cond. No.                     3.62e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.62e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

Unemployment      9.836351
AccordQueries     1.938995
CPIEnergy         1.312659
MilesTraveled    10.051510
dtype: float64

In [9]:
#remove MilesTraveled because of its high VIF
model2 = smf.ols(formula='AccordSales ~ Unemployment + AccordQueries + CPIEnergy ',
                 data=Accord_train).fit()
print(model2.summary())
cols=[ 'Unemployment','AccordQueries', 'CPIEnergy',]
VIF(Accord_train,cols)

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.209
Model:                            OLS   Adj. R-squared:                  0.167
Method:                 Least Squares   F-statistic:                     4.938
Date:                Mon, 12 Feb 2024   Prob (F-statistic):            0.00411
Time:                        16:57:23   Log-Likelihood:                -597.36
No. Observations:                  60   AIC:                             1203.
Df Residuals:                      56   BIC:                             1211.
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept     -9673.8804   1.44e+04     -0.672      0.504   -3.85e+04    1.92e+04
Unemployment   4490.1003   1259.916      3.564      0.001    1966.185    7014.016
AccordQueries   230.8945    113.576      2.033      0.047       3.375     458.414
CPIEnergy       -13.7786     39.178     -0.352      0.726     -92.261      64.704
==============================================================================
Omnibus:                        8.324   Durbin-Watson:                   1.354
Prob(Omnibus):                  0.016   Jarque-Bera (JB):               10.168
Skew:                           0.521   Prob(JB):                      0.00620
Kurtosis:                       4.727   Cond. No.                     4.83e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.83e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Unemployment     2.245546
AccordQueries    1.891211
CPIEnergy        1.265462
dtype: float64

#### (a)(i)
Accordsales=-9673.8804+4490.1003* Unemployment+230.8945* AccordQueries-13.7786*CPIEnergy
#### (a)(ii)
I run the orignial model first, then get the VIF values for each independent variables and delete the relatively significant large ones. Repeat the process until there no relatively large VPIs.
#### (a)(iii)
Since the R square is pretty low. The model deos not do a good prediction. Therefore, I am not expecting the coefficents make sense. For example, the coefficient for unemployment rate is positive, which means more people loses a job, more cars will be sold. Does not make sense at all. Thus, I am not sure the sighs are correct.
#### (a)(iiii)
The model does not do well to predict training  set observations. R square is only 0.209. Sugguesting the model is weak.

In [10]:
#b
ols = smf.ols(formula='AccordSales ~ MonthFactor+Unemployment + AccordQueries + CPIEnergy + CPIAll + MilesTraveled',
                 data=Accord_train)
model3 =ols.fit()
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.654
Method:                 Least Squares   F-statistic:                     7.982
Date:                Mon, 12 Feb 2024   Prob (F-statistic):           2.66e-08
Time:                        16:57:25   Log-Likelihood:                -563.04
No. Observations:                  60   AIC:                             1160.
Df Residuals:                      43   BIC:                             1196.
Df Model:                          16
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 9.775e+04      1e+05      0.977      0.334   -1.04e+05       3e+05
MonthFactor[T.August]     8697.6749   2713.554      3.205      0.003    3225.272    1.42e+04
MonthFactor[T.December]   3256.3031   2372.470      1.373      0.177   -1528.240    8040.846
MonthFactor[T.February]  -4825.4928   2587.989     -1.865      0.069      -1e+04     393.684
MonthFactor[T.January]   -8189.7564   2380.860     -3.440      0.001    -1.3e+04   -3388.294
MonthFactor[T.July]       3894.8622   2823.701      1.379      0.175   -1799.674    9589.398
MonthFactor[T.June]       1536.5375   2480.984      0.619      0.539   -3466.843    6539.918
MonthFactor[T.March]       430.1538   2582.819      0.167      0.869   -4778.598    5638.906
MonthFactor[T.May]        5573.2245   2463.065      2.263      0.029     605.980    1.05e+04
MonthFactor[T.November]  -1493.6532   2471.136     -0.604      0.549   -6477.174    3489.867
MonthFactor[T.October]     -25.6309   2305.022     -0.011      0.991   -4674.151    4622.889
MonthFactor[T.September]  3046.1712   2378.322      1.281      0.207   -1750.173    7842.515
Unemployment               762.8155   3257.607      0.234      0.816   -5806.776    7332.407
AccordQueries               10.6620    144.801      0.074      0.942    -281.357     302.681
CPIEnergy                   67.5163     95.714      0.705      0.484    -125.508     260.541
CPIAll                    -639.8070    627.629     -1.019      0.314   -1905.542     625.928
MilesTraveled                0.2497      0.388      0.643      0.524      -0.533       1.033
==============================================================================
Omnibus:                       11.344   Durbin-Watson:                   1.509
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               19.675
Skew:                           0.549   Prob(JB):                     5.34e-05
Kurtosis:                       5.582   Cond. No.                     5.99e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.99e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

#### (b)(i)
AccordSales=9.775* 10^4+762.8155* Unemployment+10.662* AccordQueries-639.8070* CPIALL+0.2497* MilesTraveled-8189.7564* JAN-4825.4928* FEB+430.1538*MAR+5573.2245* MAY+1536.5375* JUN+3894.8622* JUL+8697.6749* AUG+3046.1712* SEP-25.6309* OCT-1493.6532*  NOV+3256.3031* DEC
If Month matcehs, then dummy variable=1, otherwirse 0. For here, there no dummy vairable representing April. Thus=0. For poistive coefficients, people are more likely to buy Accord in such months.
#### (b)(ii)
R square here is 0.748, which is a lot better than the model before. The significant variables are T.August,T.Jan and T.May. They have the samllest p value.
#### (b)(iii)
Definetely, Both the R square and Adjusted R square have increased signifcantly. Thus leads to a much better model.
#### (b)(iv)
sepearte the time into 4 seansons, will make less dummy variables.And I think it will improve the best model since splitting data into seasons makes more intutive sense to carsales.

In [11]:
#since p value for unemployement and AccordQuires is high. remove them will be better.
ols = smf.ols(formula='AccordSales ~ MonthFactor + CPIEnergy + CPIAll + MilesTraveled',
                 data=Accord_train)
model4 =ols.fit()
print(model4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.669
Method:                 Least Squares   F-statistic:                     9.530
Date:                Mon, 12 Feb 2024   Prob (F-statistic):           2.80e-09
Time:                        16:57:26   Log-Likelihood:                -563.08
No. Observations:                  60   AIC:                             1156.
Df Residuals:                      45   BIC:                             1188.
Df Model:                          14
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 1.189e+05   2.47e+04      4.818      0.000    6.92e+04    1.69e+05
MonthFactor[T.August]     8833.4485   2309.622      3.825      0.000    4181.630    1.35e+04
MonthFactor[T.December]   3183.2744   2114.234      1.506      0.139   -1075.012    7441.561
MonthFactor[T.February]  -4672.7360   2382.968     -1.961      0.056   -9472.279     126.807
MonthFactor[T.January]   -8124.8199   2307.946     -3.520      0.001   -1.28e+04   -3476.378
MonthFactor[T.July]       4007.9419   2164.374      1.852      0.071    -351.331    8367.215
MonthFactor[T.June]       1614.5328   2227.760      0.725      0.472   -2872.407    6101.472
MonthFactor[T.March]       573.9438   2302.369      0.249      0.804   -4063.266    5211.153
MonthFactor[T.May]        5671.1176   2254.874      2.515      0.016    1129.568    1.02e+04
MonthFactor[T.November]  -1470.6762   2363.370     -0.622      0.537   -6230.748    3289.395
MonthFactor[T.October]     -42.8489   2253.241     -0.019      0.985   -4581.109    4495.411
MonthFactor[T.September]  3050.3436   2326.121      1.311      0.196   -1634.705    7735.392
CPIEnergy                   85.1496     58.266      1.461      0.151     -32.205     202.504
CPIAll                    -758.2739    362.111     -2.094      0.042   -1487.604     -28.944
MilesTraveled                0.2814      0.337      0.835      0.408      -0.398       0.961
==============================================================================
Omnibus:                       11.317   Durbin-Watson:                   1.514
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               19.506
Skew:                           0.551   Prob(JB):                     5.81e-05
Kurtosis:                       5.567   Cond. No.                     1.51e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [12]:
def OSR2(model, df_train, df_test, dependent_var):
    y_test=df_test[dependent_var]
    y_pred=model.predict(df_test)
    SSE=np.sum((y_test-y_pred)**2) 
    SST=np.sum((y_test-np.mean(df_train[dependent_var]))**2)
    return 1 -SSE/SST
OSR2(model4, Accord_train, Accord_test, 'AccordSales')

-0.5747827824209855

#### (c)
R square is 0.748 and OSR square is -0.5747827824209855. Since the OSR square value is negative, which means the model does not do a good job on predicitng future sales. Since the test data is based on 2019-2023. There are many events happened may cause a outlier. For example, covid 19 and some wars are happening, which cuases the incrase of price in gas. Thus the model will not be able to do a good prediction on the test data.

#### (d)
I was thinking the change of raw materials will affect accord prices.For example, Steel and Iron. Higher raw material will cause a higher sale price, which leads to lower car sales. Thus I have found the data set from WPU101(iron and steel) online and added them into the dataset.

In [14]:
#read the data
SteelIron=pd.read_csv('WPU101.csv')
SteelIron.head()

         DATE  WPU101
0  1926-01-01    11.4
1  1926-02-01    11.4
2  1926-03-01    11.4
3  1926-04-01    11.3
4  1926-05-01    11.3

In [15]:
#change the format
SteelIron['DATE'] = pd.to_datetime(SteelIron['DATE'])
SteelIron['DATE'] = SteelIron['DATE'].dt.strftime('%B %Y')
SteelIron.head()

            DATE  WPU101
0   January 1926    11.4
1  February 1926    11.4
2     March 1926    11.4
3     April 1926    11.3
4       May 1926    11.3

In [16]:
#display it the same way as accord data
SteelIron['Year'] = pd.to_datetime(SteelIron['DATE']).dt.year

# Extract only the month name for the 'MonthFactor' column
SteelIron['MonthFactor'] = pd.to_datetime(SteelIron['DATE']).dt.strftime('%B')

# Drop the old 'DATE' column as it's no longer needed
SteelIron = SteelIron.drop(columns=['DATE'])

# Display the first few rows to verify the changes
SteelIron.head()

   WPU101  Year MonthFactor
0    11.4  1926     January
1    11.4  1926    February
2    11.4  1926       March
3    11.3  1926       April
4    11.3  1926         May

In [18]:
#select trainning data
SteelIron_train=SteelIron[(SteelIron['Year']>=2014) & (SteelIron['Year']<=2018)]
SteelIron_train

      WPU101  Year MonthFactor
1056   238.0  2014     January
1057   234.9  2014    February
1058   231.3  2014       March
1059   234.6  2014       April
1060   233.5  2014         May
1061   232.6  2014        June
1062   232.7  2014        July
1063   233.0  2014      August
1064   233.9  2014   September
1065   230.5  2014     October
1066   226.3  2014    November
1067   224.0  2014    December
1068   222.4  2015     January
1069   209.2  2015    February
1070   205.2  2015       March
1071   200.9  2015       April
1072   198.3  2015         May
1073   200.3  2015        June
1074   198.2  2015        July
1075   193.0  2015      August
1076   190.5  2015   September
1077   181.5  2015     October
1078   175.2  2015    November
1079   172.2  2015    December
1080   173.1  2016     January
1081   172.7  2016    February
1082   175.4  2016       March
1083   184.3  2016       April
1084   192.9  2016         May
1085   193.4  2016        June
1086   193.6  2016        July
1087   195.0  2016      August
1088   191.2  2016   September
1089   186.4  2016     October
1090   189.3  2016    November
1091   196.4  2016    December
1092   204.8  2017     January
1093   207.3  2017    February
1094   213.3  2017       March
1095   212.0  2017       April
1096   213.7  2017         May
1097   213.9  2017        June
1098   215.9  2017        July
1099   214.1  2017      August
1100   215.7  2017   September
1101   211.5  2017     October
1102   208.8  2017    November
1103   212.9  2017    December
1104   217.6  2018     January
1105   222.1  2018    February
1106   227.5  2018       March
1107   234.1  2018       April
1108   239.0  2018         May
1109   242.5  2018        June
1110   244.3  2018        July
1111   244.8  2018      August
1112   244.7  2018   September
1113   244.1  2018     October
1114   246.7  2018    November
1115   245.8  2018    December

In [20]:
#Now we merge the training dataset on month and year
merged_data = pd.merge(SteelIron_train, Accord_train, how='inner', on=['Year', 'MonthFactor'])
merged_data

,WPU101,Year,MonthFactor,MonthNumeric,AccordSales,Unemployment,AccordQueries,CPIAll,CPIEnergy,MilesTraveled
0,238.0,2014,January,1,20604,6.6,69,235.288,250.340,246531
1,234.9,2014,February,2,24622,6.7,74,235.547,249.925,249499
2,231.3,2014,March,3,33962,6.7,79,236.028,249.961,251120
3,234.6,2014,April,4,34124,6.2,74,236.468,249.864,251959
4,233.5,2014,May,5,39637,6.3,75,236.918,249.213,252289
5,232.6,2014,June,6,32329,6.1,76,237.231,249.714,252054
6,232.7,2014,July,7,35073,6.2,81,237.498,248.744,252111
7,233.0,2014,August,8,51075,6.1,80,237.460,245.699,252472
8,233.9,2014,September,9,32956,5.9,75,237.477,241.610,253485
9,230.5,2014,October,10,27189,5.7,70,237.430,237.061,254117
10,226.3,2014,November,11,25275,5.8,69,236.983,229.016,253099
11,224.0,2014,December,12,31589,5.6,63,236.252,218.536,255291
12,222.4,2015,January,1,21011,5.7,67,234.747,199.926,254967
13,209.2,2015,February,2,21616,5.5,69,235.342,203.021,254414
14,205.2,2015,March,3,26018,5.4,76,235.976,205.757,255735
15,200.9,2015,April,4,27251,5.4,74,236.222,203.577,257796
16,198.3,2015,May,5,32373,5.6,78,237.001,208.973,257531
17,200.3,2015,June,6,27477,5.3,79,237.657,212.015,258177
18,198.2,2015,July,7,34496,5.2,91,238.034,211.623,258012
19,193.0,2015,August,8,40931,5.1,85,238.033,208.579,259020
20,190.5,2015,September,9,33641,5.0,75,237.498,197.246,258671
21,181.5,2015,October,10,30121,5.0,77,237.733,195.616,257672
22,175.2,2015,November,11,25566,5.1,76,238.017,195.114,260006
23,172.2,2015,December,12,35056,5.0,72,237.761,190.143,261788
24,173.1,2016,January,1,20765,4.8,80,237.652,185.235,262611
25,172.7,2016,February,2,25785,4.9,85,237.336,176.401,261752
26,175.4,2016,March,3,30523,5.0,84,238.080,182.234,262392
27,184.3,2016,April,4,31526,5.1,82,238.992,186.713,264735
28,192.9,2016,May,5,31949,4.8,87,239.557,188.596,264565
29,193.4,2016,June,6,28806,4.9,87,240.222,192.899,264364
30,193.6,2016,July,7,31946,4.8,90,240.101,189.046,265645
31,195.0,2016,August,8,30115,4.9,86,240.545,188.772,264145
32,191.2,2016,September,9,27204,5.0,81,241.176,192.243,263573
33,186.4,2016,October,10,25551,4.9,79,241.741,195.979,266664
34,189.3,2016,November,11,27182,4.7,73,242.026,196.372,265314
35,196.4,2016,December,12,33783,4.7,75,242.637,199.513,267135
36,204.8,2017,January,1,19536,4.7,84,243.618,205.369,266509
37,207.3,2017,February,2,23455,4.6,83,244.006,204.133,265234
38,213.3,2017,March,3,26824,4.4,87,243.892,202.528,265123
39,212.0,2017,April,4,26938,4.5,81,244.193,202.954,270670
40,213.7,2017,May,5,33547,4.4,86,244.004,198.449,266153
41,213.9,2017,June,6,29791,4.3,94,244.163,197.808,266376
42,215.9,2017,July,7,30903,4.3,100,244.243,195.994,269548
43,214.1,2017,August,8,30019,4.4,93,245.183,201.450,267211
44,215.7,2017,September,9,29789,4.2,80,246.435,212.723,266506
45,211.5,2017,October,10,26740,4.1,89,246.626,208.328,268718
46,208.8,2017,November,11,22998,4.2,86,247.284,213.047,268212
47,212.9,2017,December,12,22115,4.1,90,247.805,213.574,272319
48,217.6,2018,January,1,17677,4.0,89,248.859,216.855,268361
49,222.1,2018,February,2,19753,4.1,94,249.529,220.141,267857
50,227.5,2018,March,3,24171,4.0,93,249.577,215.720,268556
51,234.1,2018,April,4,21751,4.0,90,250.227,219.165,273320
52,239.0,2018,May,5,28212,3.8,94,250.792,221.045,267556
53,242.5,2018,June,6,26726,4.0,92,251.018,220.947,269325
54,244.3,2018,July,7,24927,3.8,98,251.214,219.929,270452
55,244.8,2018,August,8,26725,3.8,95,251.663,222.781,267900
56,244.7,2018,September,9,25357,3.7,86,252.182,223.955,269877
57,244.1,2018,October,10,23778,3.8,84,252.772,226.022,270155
58,246.7,2018,November,11,23367,3.8,77,252.594,218.500,269052
59,245.8,2018,December,12,28627,3.9,81,252.767,213.630,277525

In [21]:
#Now we do the new model based on (c)
ols = smf.ols(formula='AccordSales ~ MonthFactor + CPIEnergy + CPIAll + MilesTraveled+WPU101',
                 data=merged_data)
model5 =ols.fit()
print(model5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            AccordSales   R-squared:                       0.758
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     9.172
Date:                Mon, 12 Feb 2024   Prob (F-statistic):           4.02e-09
Time:                        17:16:36   Log-Likelihood:                -561.88
No. Observations:                  60   AIC:                             1156.
Df Residuals:                      44   BIC:                             1189.
Df Model:                          15
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 9.576e+04      3e+04      3.196      0.003    3.54e+04    1.56e+05
MonthFactor[T.August]     8404.3319   2311.787      3.635      0.001    3745.232    1.31e+04
MonthFactor[T.December]   3013.4545   2099.635      1.435      0.158   -1218.082    7244.991
MonthFactor[T.February]  -5192.8626   2393.887     -2.169      0.036      -1e+04    -368.300
MonthFactor[T.January]   -8445.7128   2300.332     -3.672      0.001   -1.31e+04   -3809.697
MonthFactor[T.July]       3901.3854   2146.982      1.817      0.076    -425.572    8228.343
MonthFactor[T.June]       1306.1259   2220.308      0.588      0.559   -3168.610    5780.862
MonthFactor[T.March]       142.8475   2304.872      0.062      0.951   -4502.317    4788.012
MonthFactor[T.May]        5394.6431   2244.726      2.403      0.021     870.696    9918.590
MonthFactor[T.November]  -2340.0055   2430.971     -0.963      0.341   -7239.306    2559.295
MonthFactor[T.October]    -812.2894   2306.257     -0.352      0.726   -5460.244    3835.666
MonthFactor[T.September]  2495.7303   2342.712      1.065      0.293   -2225.695    7217.155
CPIEnergy                  125.6729     65.199      1.928      0.060      -5.728     257.073
CPIAll                    -482.9749    413.611     -1.168      0.249   -1316.554     350.604
MilesTraveled                0.1425      0.350      0.407      0.686      -0.563       0.848
WPU101                     -71.3515     53.258     -1.340      0.187    -178.686      35.983
==============================================================================
Omnibus:                       12.936   Durbin-Watson:                   1.539
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               26.249
Skew:                           0.573   Prob(JB):                     2.00e-06
Kurtosis:                       6.031   Cond. No.                     1.85e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.85e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

#### (d)
The new model increased the R square value by 0.1. Not too much, but it improved the model a little. Overall, it is a great news.And the new factor, WPU101 has a low p value, which means it is significant to the accordsales. Thus it added a useful feature for predicting future sales and it makes sense. The coefficent for WPU101 is nrgative. Suggueting that as the price of Steel and Iron goes up, people are less willing to buy a car because of the higher price of Accord.